.pricing-head i {
	top: 0px!important;
}

.description {
	padding-top: 40px;
	padding-left: 20px;
	font-size: 13px;
}

.action {
	padding-bottom: 10px;
	font-weight: bold;
}

.screenshot-img {
	width: 200px;
	margin-right: 20px;
}

.footer {
	padding: 0px!important;
}

.footer ul li {
	list-style: none;
}

.table {
	font-size: 14px!important;
}

body {
	font-size: 14px!important;
}

body {
	color: #7c8996!important;
}

.pricing-head i {
	top: 0px!important;
}

.description {
	padding-top: 40px;
	padding-left: 20px;
	font-size: 13px;
}

.action {
	padding-bottom: 10px;
	font-weight: bold;
}

.screenshot-img {
	width: 200px;
	margin-right: 20px;
}

.footer {
	padding: 0px!important;
}

.footer ul li {
	list-style: none;
}

.fullwidthbanner-container .fullwidthabnner {
	height: 300px!important
}

h3 {
	color: #386bbc;
	margin-bottom: 20px;
	font-weight: 600
}

p {
	margin-bottom: 15px!important;
}

.service-box .col-md-8 {
}

.service-box p {
	color: #7c8996;
	font-size: 14px!important;
	text-align: justify;
}

.service-box button {
	border-radius: 20px!important;
	left: 160px;
	position: absolute;
	top: 318px;
	text-transform: uppercase;
	padding: 7px 20px
}

.feature {
	padding: 20px 0
}

.feature ul {
	padding: 0;
	list-style: none
}

.feature ul li {
	padding: 0 0 0 40px;
	background-position: left 4px;
	background-repeat: no-repeat
}

.feature ul li.feature_location {
	background-image: url(images/feature_01.png)
}

.feature ul li.feature_chat {
	background-image: url(images/feature_04.png)
}

.feature ul li.feature_sms {
	background-image: url(images/feature_05.png)
}

.feature ul li.feature_email {
	background-image: url(images/feature_08.png)
}

.feature ul li.feature_app {
	background-image: url(images/feature_10.png)
}

.feature ul li.feature_contact {
	background-image: url(images/feature_02.png)
}

.feature ul li.feature_browser {
	background-image: url(images/feature_06.png)
}

.feature ul li.feature_media {
	background-image: url(images/feature_03.png)
}

.feature ul li.feature_call {
	background-image: url(images/feature_09.png)
}

.feature ul li.feature_alert {
	background-image: url(images/feature_11.png)
}

.feature ul li.feature_listen {
	background-image: url(images/feature_07.png)
}

.feature ul li.feature_remote {
	background-image: url(images/feature_12.png)
}

.feature ul li.file_manager {
	background-image: url(images/feature_13.png)
}

.howitwork {
	no-repeatcenter top;padding-top: 20px
}

.bs-example-tooltips img {
	margin: 5px 10px 0 0
}

.media,.media-body {
	min-height: 110px
}

#footer {
	margin-top: 20px
}

#footer .container {
	padding-bottom: 20px
}

#footer h2 {
	padding-left: 40px
}

#footer a,#copyright a {
	color: #ffffff!important
}

.top-list {
	list-style: none;
	padding-left: 0px;
}

.top-list>li {
	margin-bottom: 10px;
}